@page "/horsepower-results"

<PageTitle>Horsepower Results</PageTitle>

@* <h3 class="top20">@title</h3>

<p>The following table has all logged engine horsepower calculation results</p> *@

<ReportHeader Title="@title">
    <p>The following table has all logged engine horsepower calculation results</p> 
</ReportHeader>

@* Leverage a Templated Blazor Component *@
@* The parent component (HorsepowerResults) is focused on layout while the child component 
   (HorsepowerDataGrid) encpasulates data fetching and renders it in the provided templates *@
<HorsepowerDataGrid>
    <TableHeader>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Rear Wheel Horsepower</th>
        <th>Flywheel Horsepower</th>
    </TableHeader>
    <RowTemplate Context="auto">
        <tr>
            <td>@auto.Year</td>
            <td>@auto.Make</td>
            <td>@auto.Model</td>
            @if (auto.EngineAnalytics != null)
            {
                <td>@auto.EngineAnalytics.RearWheelHorsepower</td>
                <td>@auto.EngineAnalytics.FlywheelHorsepower</td>
            }
        </tr>
    </RowTemplate>
</HorsepowerDataGrid>