@if (automobileData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*HMTL table leveraging Bootstrap CSS classes*@
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Rear Wheel Horsepower</th>
                <th>Flywheel Horsepower</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auto in automobileData)
            {
                <tr>
                    <td>@auto.Year</td>
                    <td>@auto.Make</td>
                    <td>@auto.Model</td>
                    @if (auto.EngineAnalytics != null)
                    {
                        <td>
                            @auto.EngineAnalytics.RearWheelHorsepower
                        </td>
                        <td>
                            @auto.EngineAnalytics.FlywheelHorsepower
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}