<EditForm Model="@automobile" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInValidSubmit">
    @*Validate the nested complex model in the form which validates the entire object*@
    <ObjectGraphDataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

    <CascadingValue Value="automobile">
        <AutoGroup></AutoGroup>
    </CascadingValue>

    <div class="form-group row mt-3">
        @if (automobile.Displacement != null)
        {
             <div class="col-sm-4">
                <label for="engineBoreSize">Bore size (inches)</label>
                <InputNumber class="form-control" id="engineBoreSize" placeholder="Enter Engine Bore Size" @bind-Value=automobile.Displacement.BoreSize @onclick="ClearForm"></InputNumber>
            </div>
            <div class="col-sm-4">
                <label for="engineCrankshaftStrokeLength">Crankshaft stroke length (inches)</label>
                <InputNumber class="form-control" id="engineCrankshaftStrokeLength" placeholder="Enter engine crankshaft stroke length" @bind-Value=automobile.Displacement.CrankshaftStrokeLength @onclick="ClearForm"></InputNumber>
            </div>
            <div class="col-sm-4">
                <label for="engineCylinders">Number of engine cylinders</label>
                <InputNumber class="form-control" id="engineCylinders" placeholder="Enter number of engine cylinders" @bind-Value=automobile.Displacement.Cylinders @onclick="ClearForm"></InputNumber>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary top10">Submit</button>
    <div class="form-group row mt-3">
        @if (automobile.EngineAnalytics != null)
        {
            <div class="col-sm-5">
                <label for="engineDisplacement">Engine Displacement (cubic inches)</label>
                <input type="text" class="form-control" id="engineDisplacement" @bind-value=automobile.EngineAnalytics.Displacement>
            </div>
        }
    </div>
    <div class="alert @alertClass" role="alert">@statusMessage</div>
</EditForm>